allow init servicemanager:binder { call };

allow init touchpanel_file:lnk_file { setattr };
allow init proc:lnk_file { setattr };

#allow init firmware_file:dir { create setattr };
#allow init bt_firmware_file:dir { create setattr };

allow init perfd:unix_stream_socket connectto;
allow init perfd_data_file:sock_file write;
allow init system_data_file:file { ioctl lock };
#allow init vendor_file:file execute_no_trans;
